.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #353a47;
    position: relative;
    cursor: move;
}
.ball {
    display: block;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at 50% 55%, rgba(44, 50, 71, 0.9), rgba(44, 50, 71, 0.9) 40%, rgba(44, 50, 71, 0.8) 60%, rgba(43, 130, 255, 0.4));
    border-radius: 50%;
    position: absolute;
    top: calc(50vh - 400px);
    left: calc(50vw - 400px);
    opacity: 0.3;
}
.cube-button {
    position: absolute;
    top: 0;
    left: 0;
}
.container .cube-container {
    width: 300px;
    height: 300px;
    perspective: 600px;
}
.container .cube-container .cube {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateZ(-150px) rotateX(0deg) rotateY(0deg);
}
@keyframes rotateCube {
    0% {
        transform: translateZ(-150px) rotateX(-45deg) rotateY(45deg);
    }
    100% {
        transform: translateZ(-150px) rotateX(135deg) rotateY(-135deg);
    }
}
.container .cube-container .cube .face {
    position: absolute;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .cube-container .cube .face.front {
    background: #AE3116;
    transform: rotateY(0deg) translateZ(150px);
}
.container .cube-container .cube .face.back {
    background: #AE3116;
    transform: rotateY(180deg) translateZ(150px);
}
.container .cube-container .cube .face.top {
    background: #E6DAA0;
    transform: rotateX(90deg) translateZ(150px);
}
.container .cube-container .cube .face.bottom {
    background: #E6DAA0;
    transform: rotateX(-90deg) translateZ(150px);
}
.container .cube-container .cube .face.left {
    background: #5686CD;
    transform: rotateY(90deg) translateZ(150px);
}
.container .cube-container .cube .face.right {
    background: #5686CD;
    transform: rotateY(-90deg) translateZ(150px);
}
.container .cube-container .cube .face .cicle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.container .cube-container .cube .face .cicle.inner {
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: #ffffff;
}

body,
html {
    margin: 0;
}
