.avatar-slider {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;

  &__runway {
    flex: 1;
    height: 6px;
    background-color: #e4e7ed;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    &.is-disabled {
      cursor: default;
      background-color: #a8abb2;

      .avatar-slider__bar {
        background-color: #a8abb2;
      }

      .avatar-slider__button {
        border-color: #a8abb2;
        &.hover, &:hover, &.dragging {
          cursor: not-allowed;
        }
      }

      .avatar-slider__button-wrapper {
        &.hover, &:hover, &.dragging {
          transform: scale(1);
          cursor: not-allowed;
        }
      }
    }
  }

  &__bar {
    height: 6px;
    background-color: #409eff ;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute
  }

  &__cut--one {
    height: 6px;
    background-color: #FF7672;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: -6px;
  }

  &__cut--two {
    height: 6px;
    background-color: #FF7672;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 6px;
  }

  &__button-wrapper {
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 1;
    top: -15px;
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
    outline: 0;

    &::after {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle;
    }

    &.hover, &:hover {
      cursor: grab;
    }
  }

  &__button--pointer {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 28px;
    vertical-align: middle;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: 0.2s;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      top: -9px;
      left: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  &__button--cut {
    display: inline-block;
    width: 4px;
    height: 18px;
    vertical-align: middle;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: 0.2s;
    user-select: none;

    &.dragging {
      cursor: grabbing;
    }
  }
}
